.forgotPasswordContainer {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgotPasswordWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.forgotPasswordLeft,
.forgotPasswordRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forgotPasswordLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}
.forgotPasswordDesc {
  font-size: 25px;
}
.forgotPasswordBox {
  /* height: 300px; */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.forgotPasswordInput {
  height: 50px;
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 15px;
  padding-left: 20px;
}
.forgotPasswordInput:focus {
  outline: none;
}
.forgotPasswordButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.forgotPasswordButton:focus {
  outline: none;
}
.forgotPasswordButton:disabled {
  cursor: not-allowed;
}
